torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
numpy
matplotlib
seaborn
onnx
onnxruntime
tqdm
joblib
scipy
soundfile
torchcodec
# neuralsat
beartype
gurobipy
onnxsim
packaging
sortedcontainers
# abcrown
pyyaml
appdirs
graphviz
onnxoptimizer
skl2onnx
psutil